#invision {
    height: 100%;
}

.invision-container {
    width: 100%;
    padding: 145px 0 145px 0;
    text-align: center;
    background: #323a45;
}

.invision-small-text {
    color: #747c83;
    font-size: 12px;
    line-height: 1.8em;
    font-family: "Open Sans", open-sans, sans-serif;

}

.invision-small-text a {
    color: #747c83;
}

.invision-small-text a:hover {
    color: #fff;
}

.invision-header-text {
    margin: 0 0 55px 0;
    color: #fff;
    font: 300 30px/52px "Open Sans", "open-sans", sans-serif;
}

.invisio-input-container {
    display: inline-block;
    margin: 3px 3px 3px 3px;
    width: 282px;
}

#invision-singup {
    margin: 0 0 31px 0;
}

.invisio-input-container input {
    outline: none;
}

.invisio-input-container input {
    background: #fff;
    border: 1px solid #d4d7da;
    padding: 19px 15px 20px 48px;
    width: 217px;
    border-radius: 3px;
    font: 400 18px/1em "Open Sans", "open-sans", sans-serif;
    color: #8a959e;
    margin-top: -24px;
    transition: 0.1s;
}

.invisio-button {
    background: #ff3366;
    padding: 24px 40px 24px 40px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-family: brandon-grotesque, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    margin: 3px;
    cursor: pointer;
}

.invisio-button:hover {
    background: #f42156;
}

.ico-user, .ico-mail, .ico-pass {
    position: relative;
    top: 20px;
    left: -10px;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/invisio-icons.png');
    background-repeat: no-repeat;
}

.ico-user {  
    background-position: 0 -474px;
}

.ico-mail {
    background-position: 0 -386px;
}

.ico-pass {
    background-position: 0 -430px;
}

.invisio-input-container label {
    position: relative;
    top: 20px;
    left: -5px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 200px;
    font: 400 18px/1em "Open Sans", "open-sans", sans-serif;
    color: #8a959e;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: 0.3s;
}

input.invision-error {
    border-color: #ff3366;
    border-width: 1px;
    box-shadow: 0 0 0 1px #ff3366;
}

@media screen and (max-width: 880px){
    .invisio-button {
        padding: 24px 28.6px 24px 28.6px;
    }
}